ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.test {
  background-color: #FFFFFF;
  list-style-type: disc;
  margin: 10;
  padding: 0;
  overflow: hidden;
  float: none;
}
li {
  float: left;
}
@font-face {
  font-family: "Vollkron";
  src: url(Vollkorn-VariableFont_wght.ttf);
}

body {
  font-family: 'Vollkron', sans-serif;
} 

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #276d9e;
}

.active {
  background-color: #7ad1ef;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}
.floatleft {
  float: left;
  clear: left;
  margin-right: 10px;
  margin-bottom: 5px
}

article {	
  padding: 10px;
}
